{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{block.super}}

{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/landing.css'%}">
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
  </div>
</div>

</div>
{% endblock %}
{% block scripts %}

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       {% bootstrap_javascript %}
           <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>

      {% endblock %}
