{%extends 'basepassenger.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{block.super}}

{% bootstrap_css %}
<link rel="stylesheet" href="#">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">

      <h3 style="font-family: 'Raleway', sans-serif;">Driver Available</h3>
    {%for venue in venues %}
    <img src="{{venue.user.profile_image.url}}" class="img-responsive"style="width:100%;" alt="Image">
    <div class="con">
    <h4 style="font-family: 'Raleway', sans-serif;">Name:{{venue.user.username}}</h4>
    <h4 style="font-family: 'Raleway', sans-serif;">Sex:{{venue.user.sex}}</h4>
    </div>
    {% empty %}
    <h4 style="font-family: 'Raleway', sans-serif; ">No current Driver available</h4>
    {% endfor %}
  </div>
  </div>
  <div class="col-md-8">
    <input id="origin-input" class="controls" type="text"
          placeholder="Enter an origin location">

      <input id="destination-input" class="controls" type="text"
          placeholder="Enter a destination location">

      <div id="mode-selector" class="controls">
        <input type="radio" name="type" id="changemode-walking" checked="checked">
        <label for="changemode-walking">Walking</label>

        <input type="radio" name="type" id="changemode-transit">
        <label for="changemode-transit">Transit</label>

        <input type="radio" name="type" id="changemode-driving">
        <label for="changemode-driving">Driving</label>
      </div>
<div id="map"></div>
</div>
</div>
</div>

{% endblock %}
{% block scripts %}

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       {% bootstrap_javascript %}
           <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
           <script>
           // we declare the following as global variables
           var map;
           var marker;
           var infowindow;

           var marker1;
           var  $lat;
           var  $lon;

                 function initMap() {
                   var myLatLng = {lat:-1.28333,lng:36.81667};
                   var mombasa={lat:-1.3007,lng:36.7849};
                   map = new google.maps.Map(document.getElementById('map'),{
                     center: myLatLng,
                     zoom: 13
                   });
                   // we create a variable called spots that store the spots that we passed from the view function
                   var spots=JSON.parse('{{spots_json|safe}}');
                   console.log(spots);
                   for(var i = 0;i<spots.length; i++){
                     console.log('yess its working');
                     //we store the lat and long in the variables
                     var lat=parseFloat(spots[i].fields.latitude)
                     var lng=parseFloat(spots[i].fields.longitude)
                     var name=spots[i].fields.name
                     //Assign them positions lat being index 0
                     coords=[lat,lng]
                     //we log them to the console to check if the function is working
                     console.log(coords);
                     var LatLng=new google.maps.LatLng(coords[0],coords[1]);
                     marker =new google.maps.Marker({
                       position:LatLng,
                       map:map
                     });
                   }
                   var seats=JSON.parse('{{seats_json|safe}}');
                   for(var i =0;i<seats.length;i++){
                     var car_brand =seats[i].fields.car_brand
                     var  Number_plate=seats[i].fields.Number_plate
                     var number=seats[i].fields.seats_available

                   }
                   console.log(car_brand);

                   var contentString='<div id="content">'+'<h4>Pick Up Point</h4>'+name+'<br>'+car_brand+'<br>'+Number_plate+'<br>'+'<p>Seats Available:</p>'+number+'</div>'
                   infowindow= new google.maps.InfoWindow({
                     content:contentString

                   });
                   marker.addListener('click',function(){
                     infowindow.open(map,marker)
                   })

                  new AutocompleteDirectionsHandler(map);
                 }


      function AutocompleteDirectionsHandler(map) {
        this.map = map;
        this.originPlaceId = null;
        this.destinationPlaceId = null;
        this.travelMode = 'WALKING';
        var originInput = document.getElementById('origin-input');
        var destinationInput = document.getElementById('destination-input');
        var modeSelector = document.getElementById('mode-selector');
        this.directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer;
        this.directionsDisplay.setMap(map);

        var originAutocomplete = new google.maps.places.Autocomplete(
            originInput, {placeIdOnly: true});
        var destinationAutocomplete = new google.maps.places.Autocomplete(
            destinationInput, {placeIdOnly: true});

        this.setupClickListener('changemode-walking', 'WALKING');
        this.setupClickListener('changemode-transit', 'TRANSIT');
        this.setupClickListener('changemode-driving', 'DRIVING');

        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
      }

      // Sets a listener on a radio button to change the filter type on Places
      // Autocomplete.
      AutocompleteDirectionsHandler.prototype.setupClickListener = function(id, mode) {
        var radioButton = document.getElementById(id);
        var me = this;
        radioButton.addEventListener('click', function() {
          me.travelMode = mode;
          me.route();
        });
      };

      AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
        var me = this;
        autocomplete.bindTo('bounds', this.map);
        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.place_id) {
            window.alert("Please select an option from the dropdown list.");
            return;
          }
          if (mode === 'ORIG') {
            me.originPlaceId = place.place_id;
          } else {
            me.destinationPlaceId = place.place_id;
          }
          me.route();
        });

      };

      AutocompleteDirectionsHandler.prototype.route = function() {
        if (!this.originPlaceId || !this.destinationPlaceId) {
          return;
        }
        var me = this;

        this.directionsService.route({
          origin: {'placeId': this.originPlaceId},
          destination: {'placeId': this.destinationPlaceId},
          travelMode: this.travelMode
        }, function(response, status) {
          if (status === 'OK') {
            me.directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      };

                var spots=JSON.parse('{{spots_json|safe}}');
                for(var i =0;i<spots.length;i++){
                  var name=spots[i].fields.name
                  var user=spots[i].fields.user
                }
                console.log(name)
                console.log(user)

                console.log(spots)
                var seats=JSON.parse('{{seats_json|safe}}');
                for(var i =0;i<seats.length;i++){
                  var car_brand =seats[i].fields.car_brand
                  var  Number_plate=seats[i].fields.Number_plate

                }
                console.log(seats);
                console.log(car_brand);


               </script>
               <!--we load the api from the specified api, the async attribute allows the page to
               load as the api loads the call back paramater executes the initMap() function that specifies the latitude and longitude of where the map will
               be centered
             -->
               <script async defer
                 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmrKc7FjQwLm9vEtseo5LK7Z6M_1aPm5k&libraries=places&callback=initMap"></script>

      {% endblock %}
