{%extends 'Driver/baseprofile.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{block.super}}

{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/landing.css'%}">
{% endblock %}

{% block content %}
<div class="container">
<h2 class="text-center">Welcome driver</h2>
<div class="row">
  <div class="col-md-8">

      <img src="{{current_profile.profile_image.url}}" class="img-reponsive"style="width:35%;height:35%;" alt="Image">
      <br>

</div>
<div class="col-md-4">
  <h3>Name:{{current_profile.username}}</h3>
  <h3>Type:{{current_profile.user_type}}</h3>
</div>
</div>
</div>
<hr>
<div class="container">

  {% for trip in trips %}

  <h2>Trips that you created</h2>
  <p>Start:{{trip.start}}</p>
  <p>Destination:{{trip.destination}}</p>
  <p>Car:{{trip.car.car_brand}}</p>
  <p>NumberPlate:{{trip.car.Number_plate}}</p>
  <p>SeatsAvailable:{{trip.car.seats_available}}</p>

  {% empty %}
  <h4>You haven't created any trips yet click create trip to create or add a trip</h4>

  {%endfor%}

</div>
<hr>
<div class="container">
</div>

{% endblock %}
{% block scripts %}

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       {% bootstrap_javascript %}
           <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
           <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
   type="text/javascript"></script>
      {% endblock %}
