{%extends 'Driver/baseprofile.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{block.super}}

{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/admin/location_picker.css'%}">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container">
<h2 class="text-center"style="font-family: 'Raleway', sans-serif;">Welcome driver</h2>
<div class="row">
  <div class="col-md-8">

      <img src="{{current_profile.profile_image.url}}" class="img-reponsive"style="width:35%;height:35%;" alt="Image">
      <br>

</div>
<div class="col-md-4">
  <h3 style="font-family: 'Raleway', sans-serif;">Name:{{current_profile.username}}</h3>
  <h3 style="font-family: 'Raleway', sans-serif;">Type:{{current_profile.user_type}}</h3>
</div>
</div>
</div>
<hr>
<div class="container">
<h2 style="font-family: 'Raleway', sans-serif;">Trips you have created</h2>
  {% for trip in trips %}


  <h4 style="font-family: 'Raleway', sans-serif;">Start: {{trip.start}}</h4>
  <h4 style="font-family: 'Raleway', sans-serif;">Destination: {{trip.destination}}</h4>
  <h4 style="font-family: 'Raleway', sans-serif;">Car: {{trip.car.car_brand}}</h4>
  <h4 style="font-family: 'Raleway', sans-serif;">NumberPlate: {{trip.car.Number_plate}}</h4>
  <h4 style="font-family: 'Raleway', sans-serif;">SeatsAvailable: {{trip.car.seats_available}}</h4>

  {% empty %}
  <h4>You haven't created any trips yet click create trip to create or add a trip</h4>

  {%endfor%}

</div>
<hr>
<div class="container">
  <h2 style="font-family: 'Raleway', sans-serif;">Requests Available</h2>
  {% for passenger in passengers %}
  <div class="row">
    <div class="col-md-6">
      <img src="{{passenger.user.profile_image.url}}" class="img-circle"style="width:35%;height:35%;" alt="Image">
    </div>
    <div class="col-md-6">
      <h3 style="font-family: 'Raleway', sans-serif;">Name: {{passenger.name}}</h3>
      <h3 style="font-family: 'Raleway', sans-serif;">Id no: {{passenger.national_id}}</h3>
      <h3 style="font-family: 'Raleway', sans-serif;">Phone Number:{{passenger.Phone_number}}</h3>
      
    </div>
    <button type="button" class="btn btn-info"><a href="{%url 'Review' passenger.id %}" style="font-family: 'Raleway', sans-serif;color:white;">Write a review</a></button>
  </div>


  {% empty %}
  <p>No request available yet</p>
  {%endfor%}
</div>

<hr>
<h2 class="text-center" style="font-family: 'Raleway', sans-serif;">Set your pick up points</h2>
  <div id="map">
  hello</div>
  <div id="form">

    <form  action="#" onsubmit="return closeSelf(this);"method="post" enctype="multipart/form-data">
       {%csrf_token%}

       {% bootstrap_form form%}
       <button type="submit" class="btn btn-warning"><a href="#" style="color:white;">Save</a></button>
     </form>
  </div>

  <div id="message"></div>


<hr>
{% endblock %}
{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}

<!--We create a js function called the map that calls the initMap()-->
<script>
// we declare the following as global variables
var map;
var marker;
var infowindow;
var messagewindow;
var marker1;
var  $lat;
var  $lon;

      function initMap() {
        //location of Nairobi is stored in a varibale
        var myLatLng = {lat:-1.28333,lng:36.81667};
        var mombasa={lat:-1.3007,lng:36.7849};
        map = new google.maps.Map(document.getElementById('map'),{
          center: myLatLng,
          zoom: 13
        });
        // the marker is positioned at Nairobi
        //the infowindow retrives the form element when clicking a marker
        marker1 = new google.maps.Marker({position: myLatLng, map:map,})


        infowindow =new google.maps.InfoWindow({
          content:document.getElementById('form')
        });
        // retrives the message element on saving the info window
        messagewindow=new google.maps.InfoWindow({
          content:document.getElementById('message')

        });
        //we assign a click listener  with the addListener that creates a marker when the user clicks the map
        google.maps.event.addListener(map,'click',function(event){

          marker=new google.maps.Marker({
            position:event.latLng,
            map:map
          });
          google.maps.event.addListener(marker,'click',function(){
            infowindow.open(map,marker);

          });

        });


        // we create a variable called spots that store the spots that we passed from the view function
        var spots=JSON.parse('{{spots_json|safe}}');
        console.log(spots);
        for(var i = 0;i<spots.length; i++){
          console.log('yess its working');
          //we store the lat and long in the variables
          var lat=parseFloat(spots[i].fields.latitude)
          var lng=parseFloat(spots[i].fields.longitude)
          //Assign them positions lat being index 0
          coords=[lat,lng]
          //we log them to the console to check if the function is working
          console.log(coords);
          var LatLng=new google.maps.LatLng(coords[0],coords[1]);
          var marker =new google.maps.Marker({
            position:LatLng,
            map:map
          });
        }
      }




    </script>
    <!--we load the api from the specified api, the async attribute allows the page to
    load as the api loads the call back paramater executes the initMap() function that specifies the latitude and longitude of where the map will
    be centered
  -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmrKc7FjQwLm9vEtseo5LK7Z6M_1aPm5k&callback=initMap"></script>

      {% endblock %}
